.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 60px);
}

.login__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /*background-color: black;*/
    min-width: 300px;
    min-height: 300px;
    box-shadow:
            0 2.8px 2.2px rgba(0, 0, 0, 0.034),
            0 6.7px 5.3px rgba(0, 0, 0, 0.048),
            0 12.5px 10px rgba(0, 0, 0, 0.06),
            0 22.3px 17.9px rgba(0, 0, 0, 0.072),
            0 41.8px 33.4px rgba(0, 0, 0, 0.086),
            0 100px 80px rgba(0, 0, 0, 0.12);
}

.login__field {
    width: 85%;
    margin: 20px 0;
}


.login__field input {
    width: 100%;
    height: 25px;
    border: none;
    border-bottom: 1px solid gray;
}

.login__field input:focus {
    outline-width: 0;
}


.login__field label {
    /*color: white;*/
    margin-bottom: 10px;
}

.login__form button {
    margin-left: auto !important;
    width: 100px;
    height: 30px;
    background-color: white;
    border: 1px solid black;
    cursor: pointer;
    transition: all ease-in-out .2s;
}

.login__form button:hover {
    background-color: black;
    color: white;
}