.sidebar {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 60px);
    width: 200px;
    background-color: #373F46;
    position: fixed;
    left: -200px;
    top: 60px;
    transition: all ease-in-out .2s;
    visibility: hidden;
    z-index: 5000;
}

.sidebar__out {
    visibility: visible;
    left: 0;
}

.sidebar > a {
    padding: 20px;
    border-bottom: 1px solid white;
    text-decoration: none !important;
    color: white;
}

.sidebar > a:hover{
    background-color: lightblue;
    cursor: pointer;
    color: black;
}